# This goes through the quizzes provided in Lecture 2


### Import required libraries and data

In [16]:
import pandas as pd;

user_columns = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
rating_columns = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
movie_columns = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']

users = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.user', 
    sep='|', names = user_columns)


ratings = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.data', 
    sep='\t', names=rating_columns)

#the movie data contains other columns we're not interested in. We use usecols to specify the columns we want.
#had to set the encoding to be used because some columns weren't parsing

pd.read_csv?
movies = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
    sep='|', names=movie_columns, usecols=range(5), encoding = "ISO-8859-1")

movies.head()

,movie_id,title,release_date,video_release_date,imdb_url
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995)

### Selecting data

In [28]:
# select the occupation column of the users dataframe
users['occupation'].head()

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

In [24]:
# select the occupation and age column of the users dataframe
users[['occupation', 'age']].head()

# or 
columns = ['occupation', 'age']
users[columns].head()

   occupation  age
0  technician   24
1       other   53
2      writer   23
3  technician   24
4       other   33

In [29]:
# get object at index
users.iloc[3]

user_id                4
age                   24
sex                    M
occupation    technician
zip_code           43537
Name: 3, dtype: object